<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account App</title>
</head>
<body>
<form th:action="@{/addOwner}" method="post">
  <label> Name:
    <input th:field="*{newOwner.name}" placeholder="" type="text" id="name" title="name">
  </label>
  <label> Place of birth:
    <input  th:field="*{newOwner.placeOfBirth}" placeholder="" type="text" id="placeOfBirth" title="placeOfBirth">
  </label>
  <label> Time of birth:
    <input  th:field="*{newOwner.timeOfBirth}" placeholder="" type="date" id="timeOfBirth" title="timeOfBirth"
            value="" min="1901-01-01" max="2023-10-05">
  </label>
  <label> Email address:
    <input  th:field="*{newOwner.email}" placeholder="" type="text" id="email" title="email">
  </label>

  <button type="submit">Submit</button>

</form>
</body>
</html>